<div class="about">
    <div class="about-img">
    </div>
    <p>The furniture store was first founded in 1932 by our owner Steve. 
    Since then we have expanded to many locations throughout the world. <br>Check out our location page to see more locations. 
    We hold every product needed for your household.</p>
</div>