<div class="contactimg">
<div class="hello">
</div>
<form action="/subscribe" method="post">
<div class="contact">   
    <p>Name: <input type="text" placeholder="Name" name="name"></p>
    <p>Email: <input type="text" placeholder="Email" name="email"></p>
    <p>Receive emails when new furniture is added? <input type="text" name="receiveEmails" placeholder="Yes/No"></p>
    <p> Questions or Comments? <br><textarea placeholder="Questions or Comments? " name="questionsComments"></textarea></p>
    <br>
    <br>
    <button>Submit</button>
</div>
</div>
</form>