<div class="furniturerow1">
<div class="picture1">
</div> 
<div class="picture2">
</div>    
</div>

<div class="textrow">
<div class="textrow1">
<h2>Name: Black Fabric Sofa
<br>Price: $150
<br>This sofa can seat about eight people</h2>
</div>
<div class="textrow2">
    <h2>Name: Brown Fabric Sofa
    <br>Price: $150
    <br>This sofa can seat about eight people</h2>
</div>
</div>

<div class="furniturerow1">
<div class="picture3">
</div>
<div class="picture4">
</div>
</div>

<div class="textrow">
<div class="textrow1">
        <h2>Name: Red Suede Chair
        <br>Price: $750
        <br>This is a single person chair, the material it is made out of is <br>very expensive. This chair can also be bought
    in different colors.</h2>
</div>
<div class="textrow2">
    <h2>Name: Green and Orange Padded Chair
    <br>Price: $100
    <br>These chairs can be bought seperately $60 each or $100 for <br>two. They come in a variety of colors.</h2>
</div>
