<div class="home">
    <div class="homeimg">
    </div>
    <p class="phome">
        We have many different stores located throughout the United States. 
        What each store contains varies due to what is popular and what is currently on sale. 
        We have furniture for any room in your home.
        Our staff can help carry heavy furniture to your car if needed. 
        We can also have furniture shipped to your home within a few days of your order.  
    </p>
</div>
