<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture</title>
    <link rel="stylesheet" href="/css/furniture.css">
</head>
<body>
    
    <nav id="navbar">
        <h1>Furniture Store</h1>
    <ul>
        <li><a href = "/contact">Contact</a></li>
        <li><a href = "/location">Location</a></li>
        <li><a href = "/about">About</a></li>
        <li><a href = "/furniture">Furniture</a></li>
        <li><a href = "/">Home</a></li>
    </ul>
    </nav>
    <%- body %>
</body>

</html>