<div class="buildingrow">
<div class="building1">
</div>
<div class="building2">
</div>
</div>

<div class="textrow">
<div class="textrow1">
    <h2>Location: Texas
    <br>Address: 873 West Road
    <br>Contact Number: 235-923-2393</h2>
</div>
<div class="textrow2">
    <h2>Location: Illinois
    <br>Address: 311 West Street
    <br>Contact Number: 238-953-0958</h2>
</div>
</div>

<div class="buildingrow">
    <div class="building3">
    </div>
    <div class="building4">
    </div>
    </div>

    <div class="textrow">
        <div class="textrow1">
            <h2>Location: California
            <br>Address: 876 East Boulevard
            <br>Contact Number: 124-329-5812</h2>
        </div>
        <div class="textrow2">
            <h2>Location: Indiana
            <br>Address: 876 North Camp
            <br>Contact Number: 294-239-5958</h2>
        </div>
        </div>